<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WorldOfPayback.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DDF46DB02A0458FA0006327D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDF46DC02A0458FB0006327D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDF46DCA2A0458FB0006327D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
